- if user_signed_in?
	= link_to('Logout', destroy_user_session_path, method: :delete)
h1 style="text-align: center" = t("dashboard.title")

= link_to('Add doctor', dashboard_doctors_path, method: :get)