$background-white: #fff;
$off-white: #F9F6F4;

$smartlife: (
  "orange-10": #DA7F4E,
  "orange-50": #F09868,
  "orange-100": #EB7839,
  "orange-150": #C36836,

  "brown-50": #411F11,
  
  "red-50": #BA2020,
  "red-100": #AE1515,

  "yellow-50": #FFAE10,
  "yellow-100": #ECCC5A
);


