$background-white: #fff;
$off-white: #F9F6F4;

$smartlife: (
  "orange-50": #F09868,
  "orange-100": #EB7839,
  "orange-150": #C36836,

  "brown-50": #411F11,
  
  "red-50": #BA2020,
  
  "yellow-50": #FFAE10,
);
