#reveal1 {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-30px);
  transition: all 1.5s ease;
}

#reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#reveal1-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms linear;
}

#reveal2.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#reveal2-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms linear;
}

#reveal3.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#reveal3-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms linear;
}

#reveal1-btn.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}


#reveal2 {
  visibility: hidden;
  opacity: 0;
  transform: translateX(30px);
  transition: all 1.5s ease;
}

#reveal2.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#reveal3 {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-30px);
  transition: all 1.5s ease;
}

#reveal3.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}