@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/*.dropdown-toggle::after {
  display: none;
}*/

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #F4E7DF 0%, #FFFFFF 29.54%, #FFFFFF 100%);
  overflow-x: hidden;
}

.text-red {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #EB7839 !important;
}

.text-blue {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFCA10 !important;
}

.text-orange {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #F09868 !important;
}

.btn-outline-red {
  border: 1.2px solid #EB7839;
  box-sizing: border-box;
  border-radius: 5.14286px;
  color: #EB7839;
  font-weight: 600;
}

.btn-red {
  background: #EB7839;
  border: 0.857143px solid #EB7839;
  border-radius: 5.14286px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-outline-blue {
  border: 1.2px solid #FFCA10;
  box-sizing: border-box;
  border-radius: 5.14286px;
  color: #FFCA10;
  font-weight: 600;
}

.btn-blue {
  background: #FFCA10;
  border: 0.857143px solid #FFCA10;;
  border-radius: 5.14286px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-outline-orange {
  border: 1.2px solid #F09868;
  box-sizing: border-box;
  border-radius: 5.14286px;
  color: #F09868;
  font-weight: 600;
}

.btn-brown {
  background: #411F11;
  border: 2px solid #411F11;
  box-sizing: border-box;
  border-radius: 6px;
  color: #F9F6F4;
  font-weight: 600;
}

.btn-brown:hover {
  background: rgba(65,31,17, 0.8);
  border: 2px solid rgba(65,31,17, 0.8);
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.btn-orange {
  background: #F09868;
  border: 0.857143px solid #F09868;;
  border-radius: 5.14286px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .container-xl  {
    max-width: 2500px !important;
  }
  .container {
    max-width: 1200px !important;
  }
}

/* ============= Navbar ================= */
nav {
  background-color: #FFFBF8 !important;
}

.navbar-nav li {
  text-align: center;
  margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #251007 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #403733 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 11H3' stroke='%23251007' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 6H3' stroke='%23251007' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 16H3' stroke='%23251007' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21H3' stroke='%23251007' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
  border: none !important;
}

.navbar-toggler {
  border: none;
}


@media only screen and (max-width: 600px) {
  #logo {
    width: 110px;
  }
}
/*============= Navbar ends =============== */

/* ============== Header ================== */
header {
  /*background: url(../images/header-background.svg);*/

  /* Center and scale the image nicely */
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  /*display: grid;*/
}

.header-main {
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  .header-button {
    text-align: center;
  }

  .header-heading {
    font-size: 1.8rem;
    text-align: center;
  }

  .main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
  }
}

.header-images {
  min-height: 355px;
  background-image: image-url("home_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#header-mid-text {
  margin-top: 50px;
}

.header-button {
  float: left;
}

#header-mid {
  padding-left: 12%;
  padding-right: 12%;
}

@media only screen and (max-width: 600px) {
  .header-heading {
    text-align: center;
  }

  #header-mid {
    padding: 0px;
  }

  .header-button {
    float: initial !important;
    margin-bottom: 30px;
  }

  .mobile-center {
    text-align: center;
  }
  .header-images {
    min-height: 340px;
    background-image: image-url("header_mobile_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }


  #header-mid-text {
    margin-top: 0px;
  }
}

.main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
}

.text {
  color: #7E665B;
  line-height: 30px;
}


#header-text {
  text-align: left !important;
  color: #7E665B;
  line-height: 30px;
}

#header-text-2 {
  color: #7E665B;
  line-height: 30px;
}

/* ============ Header ends =============== */

/* ============== Services ================ */
#services {
  margin-top: 150px;
}

.bold-font {
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
}

@media only screen and (max-width: 500px) {
  #services {
    margin-top: 20px;
  }

  .service-img {
    margin-bottom: 45px;
  }
}

/* ============ Services end ============*/

/* =========== columns section =========*/
#sexual {
  margin-top: 10%;
}

@media only screen and (max-width: 500px) {
  #services {
    margin-top: 20px;
  }
}

ul.points-red {
  list-style: none;
  padding-top: 25px;
}

.points-red li {
  list-style-position: inside;
  padding: 0px 0 10px 0px;
  text-indent: -2em;
}

.points-red li:before {
  content:''; 
  display:inline-block; 
  height:1em; 
  width:1em; 
  background-image:image-url('icons/arrow-red.svg'); 
  background-size:contain; 
  background-repeat:no-repeat; 
  padding-left: 2em; 
}

.image-overlay-wrapper {
  margin-top: -30px;
}


@media only screen and (max-width: 500px) {
  .overlay-red-logo {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .overlay-red-logo {
    width: 80px;
    left: inherit;
    right: 0px;
    top: inherit;
  }
}
@media only screen and (min-width: 1200px) {
  .overlay-red-logo {
    width: inherit;
    position: relative;
    left: 18vh;
    top: -6vh;
  }
}

/* ============ columns end ============*/

/* ============ psychology ================ */
#psychology {
  margin-top: 10%;
  margin-bottom: 10%;
}

ul.points-blue {
  list-style: none;
  padding-top: 25px;
}

.points-blue li {
  list-style-position: inside;
  padding: 0px 0 10px 0px;
  text-indent: -2em;
}

.points-blue li:before {
  content:''; 
  display:inline-block; 
  height:1em; 
  width:1em; 
  background-image:image-url('icons/arrow-blue.svg'); 
  background-size:contain; 
  background-repeat:no-repeat; 
  padding-left: 2em; 
}

.overlay-image, .overlay-blue-logo {
  grid-column:1; /* first-column */
  grid-row:1; /* first row */
}

@media only screen and (max-width: 700px) {
  .overlay-blue-logo {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .overlay-blue-logo {
    width: 80px;
    left: inherit;
    bottom: inherit;
    top: inherit;
    right: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .overlay-blue-logo {
    position: relative;
    width: inherit;
    right: -10vh;
    top: -5vh;
  }
}


/* ============ psychology ends ============*/

ul.points-orange {
  list-style: none;
  padding-top: 25px;
}

.points-orange li {
  list-style-position: inside;
  padding: 0px 0 10px 0px;
  text-indent: -2em;
}

.points-orange li:before {
  content:''; 
  display:inline-block; 
  height:1em; 
  width:1em; 
  background-image: image-url('icons/arrow-orange.svg'); 
  background-size:contain; 
  background-repeat:no-repeat; 
  padding-left: 2em; 
}

#boxes {
  margin-top: 10%;
}

.box {
  max-width: 260px;
  min-height: 240px;
  background: gray;
  margin-bottom: 45px;

  padding: 20px;
  display: grid; 
  grid-auto-rows: minmax(100px, auto);
  position: relative;
}

@media only screen and (max-width: 500px) {
  .image-sections {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .outerbox {
    border: 1px solid black;
    margin: 7px 30px;
    padding: 20px;
  }

  .box {
    max-width: 100%;
    height: 95%;
    background: gray;
    margin-bottom: 45px !important;

    padding: 25px;
    display: grid; 
    grid-auto-rows: minmax(100px, auto);
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    max-width: 100%;
    height: 90%;
    background: gray;
    margin-bottom: 45px !important;

    padding: 10px;
    display: grid; 
    grid-auto-rows: minmax(100px, auto);
    position: relative;
  }
}

.box-content {
  border-top: 3.57697px solid #FFFFFF;
  padding-top: 10%;
  grid-row: 1;
}

.second-part {
  grid-row: 1;
}

.white-arrow {
  position: absolute;
  right: 18px;
  bottom: 18px;
}

.box-text {
  color: white;
  font-weight: 500;
  font-size: 21.1408px;
  line-height: 34px;
}

@media only screen and (max-width: 768px) {
  .box-text {
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: inherit;
  }
}

.box-red {
  background-color: #BA2020;
}

.box-blue {
  background-color: #71ADA7;
}

.box-orange {
  background-color: #F1A47A;
}

footer {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;

  margin-top: 10%;
  min-height: 500px;
  min-width: 100vh;
  background-color: #F9F6F4;
  padding: 85px;


  bottom: 0;
}


#footer-logo {
  min-width: 320px;
  margin-bottom: 50px; 
}

.footer-points {
  margin-bottom: 30px;
}

.footer-text {
  margin-top: 25px;
  font-size: 1rem;
  line-height: 30px;
  color: #251007;
}

.footer-points h4 {
  font-weight: bold;

  letter-spacing: -0.015em;
  color: #251007;
  font-size: 1.5rem;
  line-height: 1rem;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
  }

  #footer-logo {
    margin-top: 30px;
    min-width: 280px !important;
  }
}

.underline {
  border-bottom: 2px solid #251007;
}

.cardy {
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.cardy:hover {
  -webkit-transform: translate(0px, -15px);
  -moz-transform: translate(0px, -15px);
  -o-transform: translate(0px, -15px);
  -ms-transform: translate(0px, -15px);
  transform: translate(0px, -15px);
} 

@media only screen and (max-width: 600px) {
  .text-muted {
    text-align: center;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: initial !important; 
  }

  .box {
    min-height: 201px;
    margin: auto !important;
  }

  .cardy {
    display: inline-block;
    max-height: 190px !important;

    min-width:80vw;
  } 

  .flex-reverse-order-it {
    display: flex;
    flex-direction: column-reverse;
  }
}

.service-img {
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.service-img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
} 
